{% extends "layout.html" %}

{% block content %}

<h2>Learn: Greetings</h2>
<p>Choose a word or phrase below to start!</p>

<div id="greetings-container" class="d-flex flex-wrap justify-content-around"></div>

<script>

     // Get the session identifier from the server
    const serverSessionId = '{{ session_id }}';

    // Check if the stored session identifier matches the server session identifier
    const storedSessionId = localStorage.getItem('sessionId');

    if (storedSessionId !== serverSessionId) {
        // Clear all local storage items related to visited items
        localStorage.clear();

        // Store the new session identifier in localStorage
        localStorage.setItem('sessionId', serverSessionId);
    }
    
    let greetings = {{ go_go|tojson|safe }};

    function displayGreetings(items) {
        const container = document.getElementById('greetings-container');
        container.innerHTML = '';
        items.forEach(item => {
            const buttonElement = document.createElement('button');
            buttonElement.className = 'greeting-btn';
            buttonElement.innerText = item.name;

            // Check if the item has been visited
            if (localStorage.getItem(item.id) === 'visited') {
                buttonElement.classList.add('visited');
            }

            buttonElement.onclick = function () {
                localStorage.setItem(item.id, 'visited');
                window.location.href = "/view/" + item.id;
            };
            container.appendChild(buttonElement);
    });
}



    document.addEventListener('DOMContentLoaded', function() {
        displayGreetings(greetings);
    });
</script>

{% endblock %}
