{% extends "layout.html" %}

{% block content %}
<div class="container mt-4 text-center">
    <h1>Let's Start Learning American Sign Language!</h1>

    <div class="button-row">
        <div class="button-section">
            <a href="{{ url_for('greetings') }}" class="asl-button">How to Sign Greetings</a>
            <!-- Direct URL for the Greetings GIF -->
            <img src="https://media4.giphy.com/media/1oHlX1mrGBF5xu1ks1/200w.gif?cid=6c09b9526856bkkfo16i3ktptig2yhkaohopq53qk40y6aad&ep=v1_gifs_search&rid=200w.gif&ct=g">
        </div>

        <div class="button-section">
            <a href="{{ url_for('phrases') }}" class="asl-button">Helpful Conversation Phrases</a>
            <!-- Direct URL for the Phrases GIF -->
            <img src="https://media0.giphy.com/media/paRJJnkjPyKxHyTCAg/giphy.gif?cid=6c09b9524gkca65lc2lbrfz08r4bjfzw7gbs576yfkpcpjw6&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g" alt="Phrases Example" class="asl-image">
        </div>

        <div class="button-section">
            <a id="test-knowledge-btn" href="{{ url_for('start_quiz') }}" class="asl-button">Test Your Knowledge</a>
            <!-- Direct URL for the Quiz GIF -->
            <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExODNxaHByNmN1eDd1M2g4bDZmMTU0MzVjcjNrd2NneGVwcnA1YzVlciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3orieKKmYyvUdR3RkY/giphy.gif" alt="Quiz Example" class="asl-image">
        </div>
    </div>
</div>
{% endblock %}