{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Let’s Start Learning American Sign Language!</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card interactive-card text-center" onclick="location.href='{{ url_for('greetings') }}';">
                <img src="https://media4.giphy.com/media/1oHlX1mrGBF5xu1ks1/200w.gif?cid=6c09b9526856bkkfo16i3ktptig2yhkaohopq53qk40y6aad&rid=200w.gif&ct=g" class="card-img-top" alt="Greetings Example" style="border-radius: 10px 10px 0px 0px">
                <div class="card-body">
                    <p class="card-link">How to Sign Greetings</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card interactive-card text-center" onclick="location.href='{{ url_for('phrases') }}';">
                <img src="https://media0.giphy.com/media/paRJJnkjPyKxHyTCAg/giphy.gif?cid=6c09b9524gkca65lc2lbrfz08r4bjfzw7gbs576yfkpcpjw6&rid=giphy.gif&ct=g" class="card-img-top" alt="Phrases Example" style="border-radius: 10px 10px 0px 0px">
                <div class="card-body">
                    <p class="card-link">Helpful Conversation Phrases</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card interactive-card text-center" onclick="location.href='{{ url_for('quiz') }}';">
                <img src="https://media4.giphy.com/media/3orieKKmYyvUdR3RkY/giphy.gif" class="card-img-top" alt="Quiz Example" style="border-radius: 10px 10px 0px 0px">
                <div class="card-body">
                    <p class="card-link">Test Your Knowledge</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
