<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap CSS (Ensure only one version is loaded) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- jQuery necessary for Bootstrap's JavaScript plugins -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Include jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Bootstrap JS (ensure no version conflict and includes Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://unpkg.com/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <title>Sign Savvy</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="/" style="margin-right: 30px;">
                <img src="{{ url_for('static', filename='logo3.jpg') }}" alt="Sign Savvy Logo" style="height:45px; padding-bottom: 10px">
            </a>
<!--            <a class="navbar-brand" href="/" style="margin-right: 30px; font-size: 25px; font-weight: bold; font-family: 'Lato', sans-serif ">Sign Savvy</a>-->
            <a class="navbar-brand" href="/">Home</a>
    
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learn Sign Language
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/greetings">Greetings</a>
                    <a class="dropdown-item" href="/phrases">Helpful Phrases</a>
                </div>
            </div>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="start-quiz-btn" class="btn-quiz" href="{{ url_for('start_quiz') }}">Final Quiz</a>
                </li>
            </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav"></div>
            </div>
        </div>
    </nav>
    

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>


    <div class="modal fade" id="incompleteModal" tabindex="-1" role="dialog" aria-labelledby="incompleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Incomplete Lessons
                </div>
                <div class="modal-body">
                    <strong>Complete all the greetings and helpful phrase lessons to unlock quiz!</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn custom-button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- External JavaScript file -->
    <script src="{{ url_for('static', filename='quiz_lock.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='people.js') }}"></script> -->
    <script src="{{ url_for('static', filename='check.js') }}"></script>
    
    
</body>
</html>
