{% extends "layout.html" %}

{% block content %}
{% if item %}
<div class="container mt-3">
    <!-- Headers and Text in one row -->
    <div class="row align-items-start">
        <div class="col-lg-6">
            <h2 class="text-left">Learn: "{{ item.name }}"</h2>
            <h5 class="text-left">ASL Translation: {{ item['ASL Translation'] }}</h5>
        </div>
        <div class="col-lg-6">
            <h3 class="text-left">Sign Steps:</h3>
        </div>
    </div>
    
    <!-- Video and Image in the same row with flex alignment -->
    <div class="row">
        <div class="col-lg-6 text-center">
            <div class="video-wrapper">
                <iframe width="560" height="400" src="https://www.youtube.com/embed/{{ item.video|youtube_id }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-between image-pro-tip-container">
            <div class="text-center">
                <img src="{{ item.image_steps }}" alt="Sign steps for '{{ item.name }}'" class="img-fluid">
            </div>
            {% if item.pro_tip_text %}
            <div class="pro-tip mt-3">
                <p class="mb-0"><strong>Pro tip:</strong> {{ item.pro_tip_text }}</p>
            </div>
            <!-- Including arrow only when pro tip is available -->
            <div class="pro-tip-arrow"></div>
            {% endif %}
        </div>
    </div>

    <!-- Navigation buttons -->
    <div class="row mt-3">
        <div class="col-md-6 text-left">
            {% if category == "greetings" %}
                <a href="{{ url_for('greetings') }}" class="btn btn-secondary">Home</a>
            {% elif category == "phrases" %}
                <a href="{{ url_for('phrases') }}" class="btn btn-secondary">Home</a>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            {% if prev_id %}
                <a href="{{ url_for('view_item', id=prev_id) }}" class="btn btn-secondary">Previous Word</a>
            {% endif %}
            {% if next_id %}
                <a href="{{ url_for('view_item', id=next_id) }}" class="btn btn-secondary">
                    {% if category == 'greetings' and index == 4 %}
                        Next Section: Helpful Phrases
                    {% elif category == 'phrases' and index == data_length - 1 %}
                        Next Section: Greetings
                    {% else %}
                        Next Word
                    {% endif %}
                </a>
            {% endif %}
        </div>
    </div>
    
{% else %}
    <p>Item not found.</p>
{% endif %}
{% endblock %}
