{% extends "layout.html" %}

{% block content %}
{% if item %}
<div class="container mt-3">
    <!-- Headers and Text in one row -->
    <div class="row align-items-start">
        <div class="col-lg-6">
            <h2 class="text-left">Learn: "{{ item.name }}"</h2>
            <h5 class="text-left">ASL Translation: {{ item['ASL Translation'] }}</h5>
        </div>
        <div class="col-lg-6">
            <h3 class="text-left">Sign Steps:</h3>
        </div>
    </div>

    <!-- Video and Image in the same row with flex alignment -->
    <div class="row">
        <div class="col-lg-6 text-center">
            <div class="video-wrapper">
                <div id="youtubeVideoPlayer"></div>
<!--                <iframe id="youtubeVideoPlayer" width="560" height="400" src="https://www.youtube.com/embed/{{ item.video|youtube_id }}" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-between image-pro-tip-container">
            <div class="text-center">
                <img src="{{ item.image_steps }}" alt="Sign steps for '{{ item.name }}'" class="img-fluid" style="border-radius: 20px; margin:auto">
            </div>
            {% if item.pro_tip_text %}
            <div class="pro-tip mt-3">
                <p class="mb-0"><strong>Pro tip:</strong> {{ item.pro_tip_text }}</p>
            </div>
            <!-- Including arrow only when pro tip is available -->
            <div class="pro-tip-arrow"></div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Navigation buttons -->
<div class="row mt-3">
    <div class="col-md-6 text-left">
        {% if category == "greetings" %}
        <a href="{{ url_for('greetings_page') }}" class="btn custom-button">All Greetings</a>
        {% elif category == "phrases" %}
        <a href="{{ url_for('phrases_page') }}" class="btn custom-button">All Phrases</a>
        {% endif %}
    </div>
    <div class="col-md-6 text-right">
        {% if prev_id %}
        <!-- Modify the 'Previous Word' button -->
        <button id="prev-word" class="btn custom-button">Previous Word</button>
        <script>
            document.getElementById('prev-word').addEventListener('click', function() {
                localStorage.setItem('{{ prev_id }}', 'visited'); // Mark the previous item as visited
                window.location.href = "{{ url_for('view_item', id=prev_id) }}"; // Navigate to the previous item's page
            });
        </script>
        {% endif %}
        {% if next_id %}
        <button id="next-word" class="btn custom-button">
            {% if category == 'greetings' and index == 4 %}
            Next Section: Helpful Phrases
            {% elif category == 'phrases' and index == data_length - 1 %}
            Next Section: Greetings
            {% else %}
            Next Word
            {% endif %}
        </button>
        <script>
            document.getElementById('next-word').addEventListener('click', function() {
                localStorage.setItem('{{ next_id }}', 'visited'); // Mark the next item as visited
                window.location.href = "{{ url_for('view_item', id=next_id) }}"; // Navigate to the next item's page
            });
        </script>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="finalQuizUnlockModal" tabindex="-1" role="dialog" aria-labelledby="quizUnlockModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                Congratulations!

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>You have viewed all greetings and helpful phrases! The Final Quiz is now unlocked.</strong>
            </div>
            <div class="modal-footer" style="justify-content: center;">
                <a href="{{ url_for('start_quiz') }}" class="btn greeting-btn">Final Quiz</a>
<!--                <button type="button" class="btn greeting-btn" data-dismiss="modal">Close</button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="greetingsQuizUnlockModal" tabindex="-1" role="dialog" aria-labelledby="quizUnlockModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #ecddf8;">
            <div class="modal-header">
                Congratulations!
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <strong>You have viewed all greetings! The Greetings Quiz is now unlocked.</strong>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('greetings_quiz') }}" class="btn custom-button">Greetings Quiz</a>
                <button type="button" class="btn greeting-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="phrasesQuizUnlockModal" tabindex="-1" role="dialog" aria-labelledby="quizUnlockModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #ecddf8;">
            <div class="modal-header">
                Congratulations!
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <strong>You have viewed all helpful phrases! The Helpful Phrases Quiz is now unlocked.</strong>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('phrases_quiz') }}" class="btn custom-button">Helpful Phrases Quiz</a>
                <button type="button" class="btn greeting-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% else %}
<p>Item not found.</p>
{% endif %}

<script src="https://www.youtube.com/player_api" defer></script>
<script>
    var player;

    // called automatically when youtube api is ready
    function onYouTubePlayerAPIReady() {
        if (typeof YT !== 'undefined' && YT.Player) {
            player = new YT.Player('youtubeVideoPlayer', {
                width: "560",
                height: "400",
                videoId: '{{ item.video|youtube_id }}',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {
        if(event.data === 0 && !localStorage.getItem('greetingsModalShown') && checkAllGreetingsVisited()) {
            $('#greetingsQuizUnlockModal').modal('show');
            localStorage.setItem('greetingsModalShown', 'true');
        }
        if (event.data === 0 && !localStorage.getItem('phrasesModalShown') && checkAllPhrasesVisited()) {
            $('#phrasesQuizUnlockModal').modal('show');
            localStorage.setItem('phrasesModalShown', 'true');
        }
        if (event.data === 0 && !localStorage.getItem('finalModalShown') && checkAllGreetingsVisited() && checkAllPhrasesVisited()) {
            $('#finalQuizUnlockModal').modal('show');
            localStorage.setItem('finalModalShown', 'true');
        }
    }


    // check if all greetings have been visited
    function checkAllGreetingsVisited() {
        const greetingIds = ['1', '2', '3', '4', '5'];
        return greetingIds.every(id => localStorage.getItem(id) === 'visited');
    }

    // check if all phrases have been visited
    function checkAllPhrasesVisited() {
        const phraseIds = ['6', '7', '8', '9', '10', '11'];
        return phraseIds.every(id => localStorage.getItem(id) === 'visited');
    }

    document.addEventListener('DOMContentLoaded', function() {

    });
</script>

{% endblock %}

