{% extends "layout.html" %}

{% block content %}

<h2>Learn: Greetings</h2>
<p>Choose a word or phrase below to start!</p>

<div id="greetings-container" class="d-flex flex-wrap justify-content-around"> </div>

<script>
    let greetings = {{ popular_items|tojson|safe }};
    console.log(greetings);

    function displayGreetings(items) {
        const container = document.getElementById('greetings-container');
        container.innerHTML = '';
        items.forEach(item => {
            const buttonElement = document.createElement('button');
            buttonElement.className = 'greeting-btn';
            buttonElement.innerText = item.name;
            buttonElement.onclick = function () {
                window.location.href = "/view/" + item.id;
            };
            container.appendChild(buttonElement);
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        displayGreetings(greetings);
    });
</script>


{% endblock %}
