{% extends "layout.html" %}

{% block content %}
<div class="container mt-4 text-center">
    <h1>Let’s Start Learning American Sign Language!</h1>
    
    <div class="button-container">
        <a href="{{ url_for('greetings') }}" class="asl-button">How to Sign Greetings</a>
        <div class="arrow">&#x2193;</div>
        
        <a href="{{ url_for('phrases') }}" class="asl-button">Signs for Helpful Conversation Phrases</a>
        <div class="arrow">&#x2193;</div>
        
        <a href="{{ url_for('quiz') }}" class="asl-button">Test Your Knowledge</a>
    </div>
</div>
{% endblock %}
